Alberto Eljarrat <alberto.eljarrat@gmail.com> <aeljarrat@el.ub.edu>
Carter Francis <csfrancis@wisc.edu> Cssfrancis <csfrancis@wisc.edu>
Carter Francis <csfrancis@wisc.edu> shaw <csfrancis@wisc.edu>
Carter Francis <csfrancis@wisc.edu> cssfrancis <csfrancis@wisc.edu>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <fjd29@cam.ac.uk>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> <frandelapena@gmail.com>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> Francisco <francisco.de-la-pena@univ-lille1.fr>
Francisco de la Peña <francisco.de-la-pena-manchon@univ-lille.fr> francisco-dlp <frandelapena@gmail.com>
Giulio Guzzinati <guzzinati@ceos-gmbh.de> <guzzinati@ceos-gmbh.eu>
Jonas Lähnemann <jonas@pdi-berlin.de> jlaehne <jonas@pdi-berlin.de>
Magnus Nord <magnunor@gmail.com> Magnus <magnunor@gmail.com>
Magnus Nord <magnunor@gmail.com> Magnus <magnus.nord@ntnu.no>
Magnus Nord <magnunor@gmail.com> Magnus Nord <Magnus.Nord@glasgow.ac.uk>
Magnus Nord <magnunor@gmail.com> magnunor <magnunor@jobbPC.phys.ntnu.no>
Magnus Nord <magnunor@gmail.com> magnunor <magnunor@gmail.com>
Michael Sarahan <msarahan@gmail.com> <msarahan@superstem.org>
Michael Sarahan <msarahan@gmail.com> Mike Sarahan <msarahan@superstem.org>
Michael Sarahan <msarahan@gmail.com> msarahan <msarahan@gmail.com>
Michael Sarahan <msarahan@gmail.com> unknown <Mike@.(none)>
Petras Jokubauskas <klavishas@gmail.com> Petras <klavishas@gmail.com>
Petras Jokubauskas <klavishas@gmail.com> petras <klavishas@gmail.com>
Thomas Aarholt <thomasaarholt@gmail.com> <thomasaar@uio.no>
Timothy Poon <timothy0626@gmail.com> Timothy <timothy0626@gmail.com>
Timothy Poon <timothy0626@gmail.com> tooth <timothy0626@gmail.com>
Timothy Poon <timothy0626@gmail.com> <62692924+ptim0626@users.noreply.github.com>
Tomas Ostasevicius <t.ostasevicius@gmail.com> <to266@cam.ac.uk>
Tom Furnival <tjof2@cam.ac.uk> <6626247+tjof2@users.noreply.github.com>
Tom Furnival <tjof2@cam.ac.uk> tjof2 <tjof2@cam.ac.uk>
Tom Slater <tjaslater@gmail.com> <TomSlater@users.noreply.github.com>
Vidar Tonaas Fauske <vidartf@gmail.com> vidartf <vidartf@gmail.com>
Zezhong Zhang <jack.zezhong.zhang@gmail.com> Zezhong <jack.zezhong.zhang@gmail.com>
