name: Tests

on:
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'pre-commit-ci-update-config'
  pull_request:

jobs:
  run_test_site:
    name: ${{ matrix.os }}-py${{ matrix.PYTHON_VERSION }}${{ matrix.LABEL }}
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    env:
      MPLBACKEND: agg
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu, windows, macos]
        os: [ubuntu]
        # PYTHON_VERSION: ['3.10', '3.12']
        PYTHON_VERSION: ['3.12']
        LABEL: ['']
        PIP_SELECTOR: ['[tests, speed]']
        # include:
        #   - os: ubuntu
        #     PYTHON_VERSION: '3.9'
        #     PIP_SELECTOR: '[tests, speed]'
        #   - os: ubuntu
        #     PYTHON_VERSION: '3.11'
        #     PIP_SELECTOR: '[tests, speed]'
        #   - os: ubuntu
        #     PYTHON_VERSION: '3.13'
        #     PIP_SELECTOR: '[tests, speed]'
        #   # test with hyperspy dev branch
        #   - os: ubuntu
        #     PYTHON_VERSION: '3.12'
        #     PIP_SELECTOR: '[tests]'
        #     LABEL: '-dev'
        #   # test minimum requirement
        #   - os: ubuntu
        #     PYTHON_VERSION: '3.9'
        #     LABEL: '-minimum'
        #     PIP_SELECTOR: '[tests]'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: get repository name
        shell: bash
        run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Fetch tags upstream
        if: ${{ github.repository_owner != 'hyperspy' }}
        # Needs to fetch the tags from upstream to get the
        # correct version with setuptools_scm
        run: |
          git remote add upstream https://github.com/hyperspy/${{ env.REPOSITORY_NAME }}.git
          git fetch upstream --tags

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}

      - name: Display version
        run: |
          python --version
          pip --version

      - name: Install
        run: |
          pip install -e '.${{ matrix.PIP_SELECTOR }}'

      - name: Install (HyperSpy dev)
        # Test against the hyperspy `RELEASE_next_minor` branch
        if: contains( matrix.LABEL, 'dev')
        shell: bash
        run: |
          pip install https://github.com/hyperspy/hyperspy/archive/RELEASE_next_minor.zip

      - name: Get pooch cache paths
        run: |
          # create list of pooch cache paths as a string (space separated)
          python -c "import pooch; print(str(pooch.os_cache('pooch')))" > pooch_cache_paths.txt
          echo "POOCH_CACHE_PATHS=$(cat pooch_cache_paths.txt)" >> $GITHUB_ENV

      - name: Cache GOS data
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 0
        with:
          path: ${{ env.POOCH_CACHE_PATHS }}
          key: GOS_cache-${{ env.CACHE_NUMBER }}
          restore-keys: |
            GOS_cache-${{ env.CACHE_NUMBER }}

      - name: Pip list
        run: |
          pip list

      - name: Run test suite
        run: |
          pytest --pyargs exspy --cov=. --cov-report=xml

      - name: Upload coverage to Codecov
        if: ${{ always() }}
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
